$black: #000000;
$white: #ffffff;
$accent: #a18a68;
$dark-gray: #707070;
$gray: #d8d8d8;
$light-gray: #efefef;
$error: #d82700;

$main-font: 'DM Sans', sans-serif;

$padding-inline: clamp(1rem, -0.545rem + 7.73vw, 5.25rem);

$heading-one-mobile: clamp(1.25rem, 0.955rem + 1.48vw, 2.063rem);
